# Feel free to update this file with the libraries you need for your project.
# You can also update the version of the libraries below to match the version
# you need and to address the last library updates.

accelerate==0.32.1
apify-client==1.7.1
arxiv==2.1.3
chromadb==0.5.4
duckduckgo-search==5.3.1
faiss-cpu==1.8.0
google-api-python-client==2.137.0
google-cloud-aiplatform==1.59.0
google-generativeai==0.7.2
gpt4all==2.7.0
gradio==3.50.2
huggingface-hub==0.22.1
jupyter==1.0.0
jupyterlab==4.2.3
lanarky==0.8.8
langchain-cli==0.0.25
langchain-cohere==0.1.9
langchain-core==0.2.13
langchain-google-genai==1.0.7
langchain[docarray]==0.2.7
langchain-anthropic==0.1.19
langchain-chroma==0.1.2
langchain-decorators==0.5.8
langchain-experimental==0.0.62
langchain-google-vertexai==0.1.3
langchain-openai==0.1.15
langchainhub==0.1.20
langserve[all]==0.2.2
numexpr==2.10.1
opencv-python==4.9.0.80
pandoc==1.1.0  # needs system install as well!
pdf2image==1.17.0
pdfminer.six==20231228
pikepdf==8.15.1
pillow-heif==0.17.0
promptwatch==0.4.5
pymupdf==1.24.7
pypdf==4.2.0
replicate==0.28.0
ruff==0.5.1
sentence-transformers==2.7.0
streamlit==1.36.0
tiktoken==0.7.0
unstructured==0.14.10
wikipedia==1.4.0
wolframalpha==5.1.3
