arxiv==2.4.0
datasets==4.5.0
ddgs==9.10.0
huggingface-hub==0.36.2
jupyter==1.1.1
langchain-core==1.2.13
langchain==1.2.10
langchain-community==0.4.1
docarray==0.41.0
langchain-openai==1.1.9
langchain-anthropic==1.3.3
langchain-google-genai==4.2.0
langchain-text-splitters==1.1.0
langchain-huggingface==1.2.0
langsmith==0.7.3
langgraph==1.0.8
ruff==0.15.1
streamlit==1.54.0
langchain-ollama==1.0.1
langchain-groq==1.1.2
langchain-experimental==0.4.1
langchain-chroma==1.1.0
ray==2.53.0
rank-bm25==0.2.2
langchain-mistralai==1.1.1
wikipedia==1.4.0
