accelerate==0.33.0
apify-client==1.6.4
arxiv==2.1.0
duckduckgo_search==5.2.1
faiss-cpu==1.8.0
google-api-python-client==2.124.0
google-cloud-aiplatform==1.60.0
google-generativeai==0.4.1
gpt4all==2.3.2
gradio==3.50.2
huggingface-hub==0.24.5
jupyter
lanarky==0.8.6
langchain-anthropic==0.1.4
langchain-chroma==0.1.2
langchain-cli==0.0.21
langchain-cohere==0.1.1
langchain-core==0.1.42 
langchain-experimental==0.0.55
langchain-google-genai==1.0.1
langchain-google-vertexai==0.1.2
langchain-openai==0.1.1
langchain[docarray]==0.1.13
langchainhub==0.1.20
langserve[all]==0.0.51
numexpr==2.10.0
opencv-python==4.9.0.80
pandoc==1.1.0  # needs system install as well!
pdf2image==1.17.0
pdfminer.six==20231228
pikepdf==8.15.1
pillow_heif==0.16.0
pymupdf==1.24.1
pypdf==4.1.0
replicate==0.30.1
ruff==0.3.4
sentence-transformers==2.6.1
streamlit==1.37.0
tiktoken==0.6.0
unstructured==0.15.0
wikipedia==1.4.0
wolframalpha==5.0.0
